{
  "extends": [
    "@lukemorales"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "arrowParens": "avoid",
        "printWidth": 95
      }
    ],
    "no-empty-pattern": "off",
    "jsx-a11y/media-has-caption": "off",
    "radar/no-duplicate-string": "off",
    "no-console": "off",
    "no-var": "off",
    "vars-on-top": "off",
    "block-scoped-var ": "off",
    "radix ": "off",
    "array-callback-return": "off",
    "consistent-return": "off",
    "no-constant-condition": "off"
  }
}
